Realizamos los imports necesarios e iniciamos una SparkSession

In [1]:
import $ivy.`org.apache.spark::spark-sql:2.4.5` 
import $ivy.`sh.almond::almond-spark:0.4.0`

import org.apache.spark.sql.{NotebookSparkSession, SparkSession}
import org.apache.spark.sql.{functions => func, _}
import org.apache.spark.sql.types._

val spark = NotebookSparkSession
      .builder()
      .config("spark.sql.join.preferSortMergeJoin", false)
      .config("spark.sql.shuffle.partitions", 64)
      .master("local[4]")
      .getOrCreate()

import spark.implicits._

import org.slf4j.LoggerFactory
import org.apache.log4j.{Level, Logger}

Logger.getRootLogger().setLevel(Level.ERROR)

Loading spark-stubs

log4j:WARN No appenders could be found for logger (org.eclipse.jetty.util.log).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.

Creating SparkSession

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
22/10/29 19:56:34 INFO SparkContext: Running Spark version 2.4.5
22/10/29 19:56:35 INFO SparkContext: Submitted application: 19242ca4-8753-46de-b485-0ef376c44597
22/10/29 19:56:35 INFO SecurityManager: Changing view acls to: Alvaro
22/10/29 19:56:35 INFO SecurityManager: Changing modify acls to: Alvaro
22/10/29 19:56:35 INFO SecurityManager: Changing view acls groups to:
22/10/29 19:56:35 INFO SecurityManager: Changing modify acls groups to:
22/10/29 19:56:35 INFO SecurityManager: SecurityManager: authentication disabled; ui acls disabled; users  with view permissions: Set(Alvaro); groups with view permissions: Set(); users  with modify permissions: Set(Alvaro); groups with modify permissions: Set()
22/10/29 19:56:36 INFO Utils: Successfully started service 'sparkDriver' on port 55586.
22/10/29 19:56:36 INFO SparkEnv: Registering MapOutputTracker
22/10/29 19:56:36 INFO SparkEnv: Registering BlockManagerMaster
22/10/29 19:56:36 INFO BlockManagerMasterEndpoint: Using org.apache.spark.storage.DefaultTopologyMapper for getting topology information
22/10/29 19:56:36 INFO BlockManagerMasterEndpoint: BlockManagerMasterEndpoint up
22/10/29 19:56:36 INFO DiskBlockManager: Created local directory at C:\Users\alvar\AppData\Local\Temp\blockmgr-9c933d4c-59fc-4d31-98b2-97f1648807c0
22/10/29 19:56:36 INFO MemoryStore: MemoryStore started with capacity 434.4 MB
22/10/29 19:56:36 INFO SparkEnv: Registering OutputCommitCoordinator
22/10/29 19:56:37 INFO Utils: Successfully started service 'SparkUI' on port 4040.
22/10/29 19:56:37 INFO SparkUI: Bound SparkUI to 0.0.0.0, and started at http://LAPTOP-30N4Q54J:4040
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/jitpack.io/com/github/jupyter/jvm-repr/0.4.0/jvm-repr-0.4.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/jvm-repr-0.4.0.jar with timestamp 1667066197143
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/github/javaparser/javaparser-core/3.2.5/javaparser-core-3.2.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/javaparser-core-3.2.5.jar with timestamp 1667066197145
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/github/scopt/scopt_2.12/3.5.0/scopt_2.12-3.5.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/scopt_2.12-3.5.0.jar with timestamp 1667066197146
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/acyclic_2.12/0.1.5/acyclic_2.12-0.1.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/acyclic_2.12-0.1.5.jar with timestamp 1667066197147
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/ammonite-interp_2.12.8/1.6.5/ammonite-interp_2.12.8-1.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/ammonite-interp_2.12.8-1.6.5.jar with timestamp 1667066197148
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/ammonite-ops_2.12/1.6.5/ammonite-ops_2.12-1.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/ammonite-ops_2.12-1.6.5.jar with timestamp 1667066197149
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/ammonite-repl_2.12.8/1.6.5/ammonite-repl_2.12.8-1.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/ammonite-repl_2.12.8-1.6.5.jar with timestamp 1667066197150
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/ammonite-runtime_2.12/1.6.5/ammonite-runtime_2.12-1.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/ammonite-runtime_2.12-1.6.5.jar with timestamp 1667066197151
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/ammonite-terminal_2.12/1.6.5/ammonite-terminal_2.12-1.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/ammonite-terminal_2.12-1.6.5.jar with timestamp 1667066197151
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/ammonite-util_2.12/1.6.5/ammonite-util_2.12-1.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/ammonite-util_2.12-1.6.5.jar with timestamp 1667066197152
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/fansi_2.12/0.2.4/fansi_2.12-0.2.4.jar at spark://LAPTOP-30N4Q54J:55586/jars/fansi_2.12-0.2.4.jar with timestamp 1667066197153
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/fastparse_2.12/2.1.0/fastparse_2.12-2.1.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/fastparse_2.12-2.1.0.jar with timestamp 1667066197154
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/geny_2.12/0.1.5/geny_2.12-0.1.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/geny_2.12-0.1.5.jar with timestamp 1667066197155
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/os-lib_2.12/0.2.6/os-lib_2.12-0.2.6.jar at spark://LAPTOP-30N4Q54J:55586/jars/os-lib_2.12-0.2.6.jar with timestamp 1667066197162
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/pprint_2.12/0.5.2/pprint_2.12-0.5.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/pprint_2.12-0.5.2.jar with timestamp 1667066197163
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/requests_2.12/0.1.7/requests_2.12-0.1.7.jar at spark://LAPTOP-30N4Q54J:55586/jars/requests_2.12-0.1.7.jar with timestamp 1667066197165
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/scalaparse_2.12/2.1.0/scalaparse_2.12-2.1.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/scalaparse_2.12-2.1.0.jar with timestamp 1667066197166
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/sourcecode_2.12/0.1.5/sourcecode_2.12-0.1.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/sourcecode_2.12-0.1.5.jar with timestamp 1667066197168
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/ujson_2.12/0.7.1/ujson_2.12-0.7.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/ujson_2.12-0.7.1.jar with timestamp 1667066197169
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/upack_2.12/0.7.1/upack_2.12-0.7.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/upack_2.12-0.7.1.jar with timestamp 1667066197170
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/upickle-core_2.12/0.7.1/upickle-core_2.12-0.7.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/upickle-core_2.12-0.7.1.jar with timestamp 1667066197171
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/upickle-implicits_2.12/0.7.1/upickle-implicits_2.12-0.7.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/upickle-implicits_2.12-0.7.1.jar with timestamp 1667066197172
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/upickle_2.12/0.7.1/upickle_2.12-0.7.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/upickle_2.12-0.7.1.jar with timestamp 1667066197173
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/lihaoyi/utest_2.12/0.6.4/utest_2.12-0.6.4.jar at spark://LAPTOP-30N4Q54J:55586/jars/utest_2.12-0.6.4.jar with timestamp 1667066197174

22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/io/get-coursier/coursier-cache_2.12/1.1.0-M13-1/coursier-cache_2.12-1.1.0-M13-1.jar at spark://LAPTOP-30N4Q54J:55586/jars/coursier-cache_2.12-1.1.0-M13-1.jar with timestamp 1667066197175
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/io/get-coursier/coursier-core_2.12/1.1.0-M13-1/coursier-core_2.12-1.1.0-M13-1.jar at spark://LAPTOP-30N4Q54J:55586/jars/coursier-core_2.12-1.1.0-M13-1.jar with timestamp 1667066197177
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/io/get-coursier/coursier_2.12/1.1.0-M13-1/coursier_2.12-1.1.0-M13-1.jar at spark://LAPTOP-30N4Q54J:55586/jars/coursier_2.12-1.1.0-M13-1.jar with timestamp 1667066197178
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/net/java/dev/jna/jna/4.2.2/jna-4.2.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jna-4.2.2.jar with timestamp 1667066197179
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/javassist/javassist/3.21.0-GA/javassist-3.21.0-GA.jar at spark://LAPTOP-30N4Q54J:55586/jars/javassist-3.21.0-GA.jar with timestamp 1667066197180
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/jline/jline-reader/3.6.2/jline-reader-3.6.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jline-reader-3.6.2.jar with timestamp 1667066197181
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/jline/jline-terminal-jna/3.6.2/jline-terminal-jna-3.6.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jline-terminal-jna-3.6.2.jar with timestamp 1667066197182
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/jline/jline-terminal/3.6.2/jline-terminal-3.6.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jline-terminal-3.6.2.jar with timestamp 1667066197183
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/scala-lang/modules/scala-xml_2.12/1.1.1/scala-xml_2.12-1.1.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/scala-xml_2.12-1.1.1.jar with timestamp 1667066197184
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/scala-sbt/test-interface/1.0/test-interface-1.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/test-interface-1.0.jar with timestamp 1667066197187
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/sh/almond/interpreter-api_2.12/0.4.0/interpreter-api_2.12-0.4.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/interpreter-api_2.12-0.4.0.jar with timestamp 1667066197188
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/sh/almond/jupyter-api_2.12/0.4.0/jupyter-api_2.12-0.4.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/jupyter-api_2.12-0.4.0.jar with timestamp 1667066197190
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/sh/almond/scala-kernel-api_2.12.8/0.4.0/scala-kernel-api_2.12.8-0.4.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/scala-kernel-api_2.12.8-0.4.0.jar with timestamp 1667066197191
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/json4s/json4s-core_2.12/3.5.3/json4s-core_2.12-3.5.3.jar at spark://LAPTOP-30N4Q54J:55586/jars/json4s-core_2.12-3.5.3.jar with timestamp 1667066197192
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/xml-apis/xml-apis/1.3.04/xml-apis-1.3.04.jar at spark://LAPTOP-30N4Q54J:55586/jars/xml-apis-1.3.04.jar with timestamp 1667066197192
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/javax/servlet/javax.servlet-api/3.1.0/javax.servlet-api-3.1.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/javax.servlet-api-3.1.0.jar with timestamp 1667066197193
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/io/dropwizard/metrics/metrics-core/3.1.5/metrics-core-3.1.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/metrics-core-3.1.5.jar with timestamp 1667066197194
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/google/inject/guice/3.0/guice-3.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/guice-3.0.jar with timestamp 1667066197195
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/slf4j/slf4j-log4j12/1.7.16/slf4j-log4j12-1.7.16.jar at spark://LAPTOP-30N4Q54J:55586/jars/slf4j-log4j12-1.7.16.jar with timestamp 1667066197196
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/commons/commons-crypto/1.0.0/commons-crypto-1.0.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-crypto-1.0.0.jar with timestamp 1667066197197
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/xbean/xbean-asm6-shaded/4.8/xbean-asm6-shaded-4.8.jar at spark://LAPTOP-30N4Q54J:55586/jars/xbean-asm6-shaded-4.8.jar with timestamp 1667066197198
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/xerces/xercesImpl/2.9.1/xercesImpl-2.9.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/xercesImpl-2.9.1.jar with timestamp 1667066197199
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/github/luben/zstd-jni/1.3.2-2/zstd-jni-1.3.2-2.jar at spark://LAPTOP-30N4Q54J:55586/jars/zstd-jni-1.3.2-2.jar with timestamp 1667066197200
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/codehaus/jettison/jettison/1.1/jettison-1.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/jettison-1.1.jar with timestamp 1667066197202
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/spark/spark-unsafe_2.12/2.4.5/spark-unsafe_2.12-2.4.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/spark-unsafe_2.12-2.4.5.jar with timestamp 1667066197202
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-yarn-server-nodemanager/2.6.5/hadoop-yarn-server-nodemanager-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-yarn-server-nodemanager-2.6.5.jar with timestamp 1667066197203
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/parquet/parquet-hadoop/1.10.1/parquet-hadoop-1.10.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/parquet-hadoop-1.10.1.jar with timestamp 1667066197204
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/joda-time/joda-time/2.9.9/joda-time-2.9.9.jar at spark://LAPTOP-30N4Q54J:55586/jars/joda-time-2.9.9.jar with timestamp 1667066197206
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/commons-io/commons-io/2.4/commons-io-2.4.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-io-2.4.jar with timestamp 1667066197207

22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/commons-configuration/commons-configuration/1.6/commons-configuration-1.6.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-configuration-1.6.jar with timestamp 1667066197209
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/antlr/antlr4-runtime/4.7/antlr4-runtime-4.7.jar at spark://LAPTOP-30N4Q54J:55586/jars/antlr4-runtime-4.7.jar with timestamp 1667066197210
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/jersey/core/jersey-common/2.22.2/jersey-common-2.22.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jersey-common-2.22.2.jar with timestamp 1667066197211
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/io/airlift/aircompressor/0.10/aircompressor-0.10.jar at spark://LAPTOP-30N4Q54J:55586/jars/aircompressor-0.10.jar with timestamp 1667066197219
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/commons/commons-compress/1.8.1/commons-compress-1.8.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-compress-1.8.1.jar with timestamp 1667066197220
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/slf4j/jcl-over-slf4j/1.7.16/jcl-over-slf4j-1.7.16.jar at spark://LAPTOP-30N4Q54J:55586/jars/jcl-over-slf4j-1.7.16.jar with timestamp 1667066197222
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/javassist/javassist/3.18.1-GA/javassist-3.18.1-GA.jar at spark://LAPTOP-30N4Q54J:55586/jars/javassist-3.18.1-GA.jar with timestamp 1667066197226
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/hk2/external/aopalliance-repackaged/2.4.0-b34/aopalliance-repackaged-2.4.0-b34.jar at spark://LAPTOP-30N4Q54J:55586/jars/aopalliance-repackaged-2.4.0-b34.jar with timestamp 1667066197229
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/lz4/lz4-java/1.4.0/lz4-java-1.4.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/lz4-java-1.4.0.jar with timestamp 1667066197230
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/io/netty/netty/3.9.9.Final/netty-3.9.9.Final.jar at spark://LAPTOP-30N4Q54J:55586/jars/netty-3.9.9.Final.jar with timestamp 1667066197230
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/spark/spark-network-common_2.12/2.4.5/spark-network-common_2.12-2.4.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/spark-network-common_2.12-2.4.5.jar with timestamp 1667066197231
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/aopalliance/aopalliance/1.0/aopalliance-1.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/aopalliance-1.0.jar with timestamp 1667066197232
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/fasterxml/jackson/core/jackson-core/2.7.9/jackson-core-2.7.9.jar at spark://LAPTOP-30N4Q54J:55586/jars/jackson-core-2.7.9.jar with timestamp 1667066197235
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/spark/spark-sql_2.12/2.4.5/spark-sql_2.12-2.4.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/spark-sql_2.12-2.4.5.jar with timestamp 1667066197236
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/google/code/gson/gson/2.2.4/gson-2.2.4.jar at spark://LAPTOP-30N4Q54J:55586/jars/gson-2.2.4.jar with timestamp 1667066197236
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/directory/api/api-util/1.0.0-M20/api-util-1.0.0-M20.jar at spark://LAPTOP-30N4Q54J:55586/jars/api-util-1.0.0-M20.jar with timestamp 1667066197237
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-yarn-client/2.6.5/hadoop-yarn-client-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-yarn-client-2.6.5.jar with timestamp 1667066197238
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/javax/xml/bind/jaxb-api/2.2.2/jaxb-api-2.2.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jaxb-api-2.2.2.jar with timestamp 1667066197238
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/spark/spark-tags_2.12/2.4.5/spark-tags_2.12-2.4.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/spark-tags_2.12-2.4.5.jar with timestamp 1667066197239
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/parquet/parquet-jackson/1.10.1/parquet-jackson-1.10.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/parquet-jackson-1.10.1.jar with timestamp 1667066197240
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/roaringbitmap/shims/0.7.45/shims-0.7.45.jar at spark://LAPTOP-30N4Q54J:55586/jars/shims-0.7.45.jar with timestamp 1667066197240
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/thoughtworks/paranamer/paranamer/2.8/paranamer-2.8.jar at spark://LAPTOP-30N4Q54J:55586/jars/paranamer-2.8.jar with timestamp 1667066197241
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/avro/avro/1.8.2/avro-1.8.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/avro-1.8.2.jar with timestamp 1667066197242
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/httpcomponents/httpcore/4.2.4/httpcore-4.2.4.jar at spark://LAPTOP-30N4Q54J:55586/jars/httpcore-4.2.4.jar with timestamp 1667066197242
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/carrotsearch/hppc/0.7.2/hppc-0.7.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/hppc-0.7.2.jar with timestamp 1667066197243
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/fasterxml/jackson/core/jackson-databind/2.6.7.3/jackson-databind-2.6.7.3.jar at spark://LAPTOP-30N4Q54J:55586/jars/jackson-databind-2.6.7.3.jar with timestamp 1667066197243
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/spark/spark-kvstore_2.12/2.4.5/spark-kvstore_2.12-2.4.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/spark-kvstore_2.12-2.4.5.jar with timestamp 1667066197244
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/commons-codec/commons-codec/1.10/commons-codec-1.10.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-codec-1.10.jar with timestamp 1667066197245
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/mortbay/jetty/jetty-util/6.1.26/jetty-util-6.1.26.jar at spark://LAPTOP-30N4Q54J:55586/jars/jetty-util-6.1.26.jar with timestamp 1667066197245
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-yarn-common/2.6.5/hadoop-yarn-common-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-yarn-common-2.6.5.jar with timestamp 1667066197246

22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/json4s/json4s-scalap_2.12/3.5.3/json4s-scalap_2.12-3.5.3.jar at spark://LAPTOP-30N4Q54J:55586/jars/json4s-scalap_2.12-3.5.3.jar with timestamp 1667066197246
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/commons-beanutils/commons-beanutils/1.7.0/commons-beanutils-1.7.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-beanutils-1.7.0.jar with timestamp 1667066197247
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/avro/avro-ipc/1.8.2/avro-ipc-1.8.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/avro-ipc-1.8.2.jar with timestamp 1667066197248
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-auth/2.6.5/hadoop-auth-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-auth-2.6.5.jar with timestamp 1667066197249
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/arrow/arrow-vector/0.10.0/arrow-vector-0.10.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/arrow-vector-0.10.0.jar with timestamp 1667066197249
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/parquet/parquet-common/1.10.1/parquet-common-1.10.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/parquet-common-1.10.1.jar with timestamp 1667066197250
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/ning/compress-lzf/1.0.3/compress-lzf-1.0.3.jar at spark://LAPTOP-30N4Q54J:55586/jars/compress-lzf-1.0.3.jar with timestamp 1667066197251
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/log4j/log4j/1.2.17/log4j-1.2.17.jar at spark://LAPTOP-30N4Q54J:55586/jars/log4j-1.2.17.jar with timestamp 1667066197336
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/clearspring/analytics/stream/2.7.0/stream-2.7.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/stream-2.7.0.jar with timestamp 1667066197337
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/vlkan/flatbuffers/1.2.0-3f79e055/flatbuffers-1.2.0-3f79e055.jar at spark://LAPTOP-30N4Q54J:55586/jars/flatbuffers-1.2.0-3f79e055.jar with timestamp 1667066197338
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/directory/server/apacheds-i18n/2.0.0-M15/apacheds-i18n-2.0.0-M15.jar at spark://LAPTOP-30N4Q54J:55586/jars/apacheds-i18n-2.0.0-M15.jar with timestamp 1667066197338
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/javax/activation/activation/1.1.1/activation-1.1.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/activation-1.1.1.jar with timestamp 1667066197339
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/javax/inject/javax.inject/1/javax.inject-1.jar at spark://LAPTOP-30N4Q54J:55586/jars/javax.inject-1.jar with timestamp 1667066197340
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/slf4j/jul-to-slf4j/1.7.16/jul-to-slf4j-1.7.16.jar at spark://LAPTOP-30N4Q54J:55586/jars/jul-to-slf4j-1.7.16.jar with timestamp 1667066197341
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/esotericsoftware/minlog/1.3.0/minlog-1.3.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/minlog-1.3.0.jar with timestamp 1667066197342
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/xmlenc/xmlenc/0.52/xmlenc-0.52.jar at spark://LAPTOP-30N4Q54J:55586/jars/xmlenc-0.52.jar with timestamp 1667066197342
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/univocity/univocity-parsers/2.7.3/univocity-parsers-2.7.3.jar at spark://LAPTOP-30N4Q54J:55586/jars/univocity-parsers-2.7.3.jar with timestamp 1667066197343
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/codehaus/janino/janino/3.0.9/janino-3.0.9.jar at spark://LAPTOP-30N4Q54J:55586/jars/janino-3.0.9.jar with timestamp 1667066197344
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/spark/spark-core_2.12/2.4.5/spark-core_2.12-2.4.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/spark-core_2.12-2.4.5.jar with timestamp 1667066197344
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/commons-lang/commons-lang/2.6/commons-lang-2.6.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-lang-2.6.jar with timestamp 1667066197345
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.jar at spark://LAPTOP-30N4Q54J:55586/jars/slf4j-api-1.7.25.jar with timestamp 1667066197346
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/oro/oro/2.0.8/oro-2.0.8.jar at spark://LAPTOP-30N4Q54J:55586/jars/oro-2.0.8.jar with timestamp 1667066197347
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/javax/annotation/javax.annotation-api/1.2/javax.annotation-api-1.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/javax.annotation-api-1.2.jar with timestamp 1667066197349
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/commons-cli/commons-cli/1.2/commons-cli-1.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-cli-1.2.jar with timestamp 1667066197350
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/commons/commons-math3/3.4.1/commons-math3-3.4.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-math3-3.4.1.jar with timestamp 1667066197359
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/codehaus/jackson/jackson-core-asl/1.9.13/jackson-core-asl-1.9.13.jar at spark://LAPTOP-30N4Q54J:55586/jars/jackson-core-asl-1.9.13.jar with timestamp 1667066197360
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/orc/orc-core/1.5.5/orc-core-1.5.5-nohive.jar at spark://LAPTOP-30N4Q54J:55586/jars/orc-core-1.5.5-nohive.jar with timestamp 1667066197360
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/google/guava/guava/16.0.1/guava-16.0.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/guava-16.0.1.jar with timestamp 1667066197361
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-yarn-server-common/2.6.5/hadoop-yarn-server-common-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-yarn-server-common-2.6.5.jar with timestamp 1667066197362
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/hk2/hk2-api/2.4.0-b34/hk2-api-2.4.0-b34.jar at spark://LAPTOP-30N4Q54J:55586/jars/hk2-api-2.4.0-b34.jar with timestamp 1667066197362

22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/fusesource/leveldbjni/leveldbjni-all/1.8/leveldbjni-all-1.8.jar at spark://LAPTOP-30N4Q54J:55586/jars/leveldbjni-all-1.8.jar with timestamp 1667066197363
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/hk2/osgi-resource-locator/1.0.1/osgi-resource-locator-1.0.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/osgi-resource-locator-1.0.1.jar with timestamp 1667066197363
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/scala-lang/modules/scala-parser-combinators_2.12/1.1.0/scala-parser-combinators_2.12-1.1.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/scala-parser-combinators_2.12-1.1.0.jar with timestamp 1667066197367
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/spark/spark-catalyst_2.12/2.4.5/spark-catalyst_2.12-2.4.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/spark-catalyst_2.12-2.4.5.jar with timestamp 1667066197367
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-yarn-api/2.6.5/hadoop-yarn-api-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-yarn-api-2.6.5.jar with timestamp 1667066197368
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/commons/commons-lang3/3.5/commons-lang3-3.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-lang3-3.5.jar with timestamp 1667066197369
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/commons-collections/commons-collections/3.2.2/commons-collections-3.2.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-collections-3.2.2.jar with timestamp 1667066197370
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/hk2/hk2-utils/2.4.0-b34/hk2-utils-2.4.0-b34.jar at spark://LAPTOP-30N4Q54J:55586/jars/hk2-utils-2.4.0-b34.jar with timestamp 1667066197370
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/tukaani/xz/1.5/xz-1.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/xz-1.5.jar with timestamp 1667066197371
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-common/2.6.5/hadoop-common-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-common-2.6.5.jar with timestamp 1667066197371
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-mapreduce-client-core/2.6.5/hadoop-mapreduce-client-core-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-mapreduce-client-core-2.6.5.jar with timestamp 1667066197372
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/jline/jline/0.9.94/jline-0.9.94.jar at spark://LAPTOP-30N4Q54J:55586/jars/jline-0.9.94.jar with timestamp 1667066197373
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/orc/orc-mapreduce/1.5.5/orc-mapreduce-1.5.5-nohive.jar at spark://LAPTOP-30N4Q54J:55586/jars/orc-mapreduce-1.5.5-nohive.jar with timestamp 1667066197373
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/httpcomponents/httpclient/4.2.5/httpclient-4.2.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/httpclient-4.2.5.jar with timestamp 1667066197374
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-annotations/2.6.5/hadoop-annotations-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-annotations-2.6.5.jar with timestamp 1667066197375
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/spark-project/spark/unused/1.0.0/unused-1.0.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/unused-1.0.0.jar with timestamp 1667066197375
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/jersey/containers/jersey-container-servlet-core/2.22.2/jersey-container-servlet-core-2.22.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jersey-container-servlet-core-2.22.2.jar with timestamp 1667066197376
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/codehaus/janino/commons-compiler/3.0.9/commons-compiler-3.0.9.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-compiler-3.0.9.jar with timestamp 1667066197393
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/hk2/hk2-locator/2.4.0-b34/hk2-locator-2.4.0-b34.jar at spark://LAPTOP-30N4Q54J:55586/jars/hk2-locator-2.4.0-b34.jar with timestamp 1667066197393
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/codehaus/jackson/jackson-mapper-asl/1.9.13/jackson-mapper-asl-1.9.13.jar at spark://LAPTOP-30N4Q54J:55586/jars/jackson-mapper-asl-1.9.13.jar with timestamp 1667066197394
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/net/sf/py4j/py4j/0.10.7/py4j-0.10.7.jar at spark://LAPTOP-30N4Q54J:55586/jars/py4j-0.10.7.jar with timestamp 1667066197394
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/curator/curator-recipes/2.6.0/curator-recipes-2.6.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/curator-recipes-2.6.0.jar with timestamp 1667066197395
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/google/code/findbugs/jsr305/3.0.2/jsr305-3.0.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jsr305-3.0.2.jar with timestamp 1667066197395
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/orc/orc-shims/1.5.5/orc-shims-1.5.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/orc-shims-1.5.5.jar with timestamp 1667066197396
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/curator/curator-client/2.6.0/curator-client-2.6.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/curator-client-2.6.0.jar with timestamp 1667066197397
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/xerial/snappy/snappy-java/1.1.7.3/snappy-java-1.1.7.3.jar at spark://LAPTOP-30N4Q54J:55586/jars/snappy-java-1.1.7.3.jar with timestamp 1667066197397
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/javax/validation/validation-api/1.1.0.Final/validation-api-1.1.0.Final.jar at spark://LAPTOP-30N4Q54J:55586/jars/validation-api-1.1.0.Final.jar with timestamp 1667066197398
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-hdfs/2.6.5/hadoop-hdfs-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-hdfs-2.6.5.jar with timestamp 1667066197398
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/ivy/ivy/2.4.0/ivy-2.4.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/ivy-2.4.0.jar with timestamp 1667066197399

22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/javax/xml/stream/stax-api/1.0-2/stax-api-1.0-2.jar at spark://LAPTOP-30N4Q54J:55586/jars/stax-api-1.0-2.jar with timestamp 1667066197399
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/roaringbitmap/RoaringBitmap/0.7.45/RoaringBitmap-0.7.45.jar at spark://LAPTOP-30N4Q54J:55586/jars/RoaringBitmap-0.7.45.jar with timestamp 1667066197400
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/codehaus/jackson/jackson-jaxrs/1.9.13/jackson-jaxrs-1.9.13.jar at spark://LAPTOP-30N4Q54J:55586/jars/jackson-jaxrs-1.9.13.jar with timestamp 1667066197400
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/io/dropwizard/metrics/metrics-json/3.1.5/metrics-json-3.1.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/metrics-json-3.1.5.jar with timestamp 1667066197401
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/jersey/containers/jersey-container-servlet/2.22.2/jersey-container-servlet-2.22.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jersey-container-servlet-2.22.2.jar with timestamp 1667066197401
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/codehaus/jackson/jackson-xc/1.9.13/jackson-xc-1.9.13.jar at spark://LAPTOP-30N4Q54J:55586/jars/jackson-xc-1.9.13.jar with timestamp 1667066197402
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/javax/ws/rs/javax.ws.rs-api/2.0.1/javax.ws.rs-api-2.0.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/javax.ws.rs-api-2.0.1.jar with timestamp 1667066197402
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/fasterxml/jackson/module/jackson-module-scala_2.12/2.6.7.1/jackson-module-scala_2.12-2.6.7.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/jackson-module-scala_2.12-2.6.7.1.jar with timestamp 1667066197403
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/parquet/parquet-column/1.10.1/parquet-column-1.10.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/parquet-column-1.10.1.jar with timestamp 1667066197404
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/esotericsoftware/kryo-shaded/4.0.2/kryo-shaded-4.0.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/kryo-shaded-4.0.2.jar with timestamp 1667066197404
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/directory/api/api-asn1-api/1.0.0-M20/api-asn1-api-1.0.0-M20.jar at spark://LAPTOP-30N4Q54J:55586/jars/api-asn1-api-1.0.0-M20.jar with timestamp 1667066197405
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/net/razorvine/pyrolite/4.13/pyrolite-4.13.jar at spark://LAPTOP-30N4Q54J:55586/jars/pyrolite-4.13.jar with timestamp 1667066197405
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/parquet/parquet-format/2.4.0/parquet-format-2.4.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/parquet-format-2.4.0.jar with timestamp 1667066197406
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/scala-lang/modules/scala-xml_2.12/1.0.6/scala-xml_2.12-1.0.6.jar at spark://LAPTOP-30N4Q54J:55586/jars/scala-xml_2.12-1.0.6.jar with timestamp 1667066197406
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/zookeeper/zookeeper/3.4.6/zookeeper-3.4.6.jar at spark://LAPTOP-30N4Q54J:55586/jars/zookeeper-3.4.6.jar with timestamp 1667066197407
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/objenesis/objenesis/2.5.1/objenesis-2.5.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/objenesis-2.5.1.jar with timestamp 1667066197408
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/jersey/media/jersey-media-jaxb/2.22.2/jersey-media-jaxb-2.22.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jersey-media-jaxb-2.22.2.jar with timestamp 1667066197413
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/commons-httpclient/commons-httpclient/3.1/commons-httpclient-3.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-httpclient-3.1.jar with timestamp 1667066197414
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-mapreduce-client-jobclient/2.6.5/hadoop-mapreduce-client-jobclient-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-mapreduce-client-jobclient-2.6.5.jar with timestamp 1667066197421
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/io/netty/netty-all/4.1.42.Final/netty-all-4.1.42.Final.jar at spark://LAPTOP-30N4Q54J:55586/jars/netty-all-4.1.42.Final.jar with timestamp 1667066197422
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/spark/spark-network-shuffle_2.12/2.4.5/spark-network-shuffle_2.12-2.4.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/spark-network-shuffle_2.12-2.4.5.jar with timestamp 1667066197423
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/spark/spark-sketch_2.12/2.4.5/spark-sketch_2.12-2.4.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/spark-sketch_2.12-2.4.5.jar with timestamp 1667066197424
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/twitter/chill-java/0.9.3/chill-java-0.9.3.jar at spark://LAPTOP-30N4Q54J:55586/jars/chill-java-0.9.3.jar with timestamp 1667066197426
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/json4s/json4s-ast_2.12/3.5.3/json4s-ast_2.12-3.5.3.jar at spark://LAPTOP-30N4Q54J:55586/jars/json4s-ast_2.12-3.5.3.jar with timestamp 1667066197427
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/avro/avro-mapred/1.8.2/avro-mapred-1.8.2-hadoop2.jar at spark://LAPTOP-30N4Q54J:55586/jars/avro-mapred-1.8.2-hadoop2.jar with timestamp 1667066197428
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/parquet/parquet-encoding/1.10.1/parquet-encoding-1.10.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/parquet-encoding-1.10.1.jar with timestamp 1667066197429
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/commons-net/commons-net/3.1/commons-net-3.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-net-3.1.jar with timestamp 1667066197430
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/io/dropwizard/metrics/metrics-jvm/3.1.5/metrics-jvm-3.1.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/metrics-jvm-3.1.5.jar with timestamp 1667066197437
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/jersey/core/jersey-client/2.22.2/jersey-client-2.22.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jersey-client-2.22.2.jar with timestamp 1667066197438

22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/arrow/arrow-memory/0.10.0/arrow-memory-0.10.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/arrow-memory-0.10.0.jar with timestamp 1667066197438
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-mapreduce-client-shuffle/2.6.5/hadoop-mapreduce-client-shuffle-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-mapreduce-client-shuffle-2.6.5.jar with timestamp 1667066197439
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/fasterxml/jackson/module/jackson-module-paranamer/2.7.9/jackson-module-paranamer-2.7.9.jar at spark://LAPTOP-30N4Q54J:55586/jars/jackson-module-paranamer-2.7.9.jar with timestamp 1667066197440
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-mapreduce-client-app/2.6.5/hadoop-mapreduce-client-app-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-mapreduce-client-app-2.6.5.jar with timestamp 1667066197441
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/htrace/htrace-core/3.0.4/htrace-core-3.0.4.jar at spark://LAPTOP-30N4Q54J:55586/jars/htrace-core-3.0.4.jar with timestamp 1667066197442
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/jersey/bundles/repackaged/jersey-guava/2.22.2/jersey-guava-2.22.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jersey-guava-2.22.2.jar with timestamp 1667066197443
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/commons-digester/commons-digester/1.8/commons-digester-1.8.jar at spark://LAPTOP-30N4Q54J:55586/jars/commons-digester-1.8.jar with timestamp 1667066197443
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/spark/spark-launcher_2.12/2.4.5/spark-launcher_2.12-2.4.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/spark-launcher_2.12-2.4.5.jar with timestamp 1667066197444
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/twitter/chill_2.12/0.9.3/chill_2.12-0.9.3.jar at spark://LAPTOP-30N4Q54J:55586/jars/chill_2.12-0.9.3.jar with timestamp 1667066197445
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/arrow/arrow-format/0.10.0/arrow-format-0.10.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/arrow-format-0.10.0.jar with timestamp 1667066197446
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/google/protobuf/protobuf-java/2.5.0/protobuf-java-2.5.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/protobuf-java-2.5.0.jar with timestamp 1667066197446
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/directory/server/apacheds-kerberos-codec/2.0.0-M15/apacheds-kerberos-codec-2.0.0-M15.jar at spark://LAPTOP-30N4Q54J:55586/jars/apacheds-kerberos-codec-2.0.0-M15.jar with timestamp 1667066197447
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-client/2.6.5/hadoop-client-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-client-2.6.5.jar with timestamp 1667066197448
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/io/dropwizard/metrics/metrics-graphite/3.1.5/metrics-graphite-3.1.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/metrics-graphite-3.1.5.jar with timestamp 1667066197451
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/json4s/json4s-jackson_2.12/3.5.3/json4s-jackson_2.12-3.5.3.jar at spark://LAPTOP-30N4Q54J:55586/jars/json4s-jackson_2.12-3.5.3.jar with timestamp 1667066197452
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/hk2/external/javax.inject/2.4.0-b34/javax.inject-2.4.0-b34.jar at spark://LAPTOP-30N4Q54J:55586/jars/javax.inject-2.4.0-b34.jar with timestamp 1667066197453
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/glassfish/jersey/core/jersey-server/2.22.2/jersey-server-2.22.2.jar at spark://LAPTOP-30N4Q54J:55586/jars/jersey-server-2.22.2.jar with timestamp 1667066197454
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/fasterxml/jackson/core/jackson-annotations/2.6.7/jackson-annotations-2.6.7.jar at spark://LAPTOP-30N4Q54J:55586/jars/jackson-annotations-2.6.7.jar with timestamp 1667066197455
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/hadoop/hadoop-mapreduce-client-common/2.6.5/hadoop-mapreduce-client-common-2.6.5.jar at spark://LAPTOP-30N4Q54J:55586/jars/hadoop-mapreduce-client-common-2.6.5.jar with timestamp 1667066197456
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/apache/curator/curator-framework/2.6.0/curator-framework-2.6.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/curator-framework-2.6.0.jar with timestamp 1667066197457
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/sh/almond/almond-spark_2.12/0.4.0/almond-spark_2.12-0.4.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/almond-spark_2.12-0.4.0.jar with timestamp 1667066197458
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/io/argonaut/argonaut_2.12/6.2.3/argonaut_2.12-6.2.3.jar at spark://LAPTOP-30N4Q54J:55586/jars/argonaut_2.12-6.2.3.jar with timestamp 1667066197458
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/eclipse/jetty/jetty-server/9.4.15.v20190215/jetty-server-9.4.15.v20190215.jar at spark://LAPTOP-30N4Q54J:55586/jars/jetty-server-9.4.15.v20190215.jar with timestamp 1667066197459
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/sh/almond/ammonite-spark_2.12/0.4.0/ammonite-spark_2.12-0.4.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/ammonite-spark_2.12-0.4.0.jar with timestamp 1667066197460
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/github/alexarchambault/argonaut-shapeless_6.2_2.12/1.2.0-M10/argonaut-shapeless_6.2_2.12-1.2.0-M10.jar at spark://LAPTOP-30N4Q54J:55586/jars/argonaut-shapeless_6.2_2.12-1.2.0-M10.jar with timestamp 1667066197461
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/eclipse/jetty/jetty-io/9.4.15.v20190215/jetty-io-9.4.15.v20190215.jar at spark://LAPTOP-30N4Q54J:55586/jars/jetty-io-9.4.15.v20190215.jar with timestamp 1667066197462
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/typelevel/macro-compat_2.12/1.1.1/macro-compat_2.12-1.1.1.jar at spark://LAPTOP-30N4Q54J:55586/jars/macro-compat_2.12-1.1.1.jar with timestamp 1667066197462
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/eclipse/jetty/jetty-http/9.4.15.v20190215/jetty-http-9.4.15.v20190215.jar at spark://LAPTOP-30N4Q54J:55586/jars/jetty-http-9.4.15.v20190215.jar with timestamp 1667066197463

22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/org/eclipse/jetty/jetty-util/9.4.15.v20190215/jetty-util-9.4.15.v20190215.jar at spark://LAPTOP-30N4Q54J:55586/jars/jetty-util-9.4.15.v20190215.jar with timestamp 1667066197464
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/com/chuusai/shapeless_2.12/2.3.3/shapeless_2.12-2.3.3.jar at spark://LAPTOP-30N4Q54J:55586/jars/shapeless_2.12-2.3.3.jar with timestamp 1667066197478
22/10/29 19:56:37 INFO SparkContext: Added JAR file:/C:/Users/alvar/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/sh/almond/spark-stubs_24_2.12/0.4.0/spark-stubs_24_2.12-0.4.0.jar at spark://LAPTOP-30N4Q54J:55586/jars/spark-stubs_24_2.12-0.4.0.jar with timestamp 1667066197479
22/10/29 19:56:37 INFO Executor: Starting executor ID driver on host localhost
22/10/29 19:56:37 INFO Executor: Using REPL class URI: http://192.168.56.1:55558
22/10/29 19:56:37 INFO Utils: Successfully started service 'org.apache.spark.network.netty.NettyBlockTransferService' on port 55613.
22/10/29 19:56:37 INFO NettyBlockTransferService: Server created on LAPTOP-30N4Q54J:55613
22/10/29 19:56:37 INFO BlockManager: Using org.apache.spark.storage.RandomBlockReplicationPolicy for block replication policy
22/10/29 19:56:37 INFO BlockManagerMaster: Registering BlockManager BlockManagerId(driver, LAPTOP-30N4Q54J, 55613, None)
22/10/29 19:56:37 INFO BlockManagerMasterEndpoint: Registering block manager LAPTOP-30N4Q54J:55613 with 434.4 MB RAM, BlockManagerId(driver, LAPTOP-30N4Q54J, 55613, None)
22/10/29 19:56:37 INFO BlockManagerMaster: Registered BlockManager BlockManagerId(driver, LAPTOP-30N4Q54J, 55613, None)
22/10/29 19:56:37 INFO BlockManager: Initialized BlockManager: BlockManagerId(driver, LAPTOP-30N4Q54J, 55613, None)

import $ivy.$

import $ivy.$


import org.apache.spark.sql.{NotebookSparkSession, SparkSession}

import org.apache.spark.sql.{functions => func, _}

import org.apache.spark.sql.types._


spark: SparkSession = org.apache.spark.sql.SparkSession@60725f9e
import spark.implicits._


import org.slf4j.LoggerFactory

import org.apache.log4j.{Level, Logger}

In [ ]:
val data: DataFrame = spark.read.option("multiline", "true").json("D:/TFGAlvaroSanchez/data2/*.json")

In [ ]:
data.show()

### Obtencion de la fecha y del valor maximo de temperatura

Con lo siguiente cambiamos el tipo de datos de la columna ta_max

val data1 = data.withColumn("ta_max", $"ta_max".substr(0,4).cast(IntegerType))

In [ ]:
import org.apache.spark.sql.functions.{min, max, desc}

data.withColumn("ta_max", $"ta_max".substr(0,4).cast(IntegerType))
    .select($"fecha", $"ta_max" as "temperatura maxima")
    .orderBy($"ta_max".desc)
    .show(1)

### Obtencion del mes, ao, id estacion y provincia donde ocurren la stemperaturas mas altas en 2021

In [ ]:
val data2021 : DataFrame = spark.read.option("multiline", "true").json("D:/TFGAlvaroSanchez/data2/*2021.json")

In [ ]:
data2021.printSchema()

In [ ]:
data2021.select($"ta_min", $"indicativo", $"fecha")
    .filter($"indicativo".equalTo("2916A"))
    .show()

Usamos `.df` para darle nombre a las columnas

In [ ]:
val ids : DataFrame = spark.read.option("delimiter", ";").csv("D:/TFGAlvaroSanchez/data2/aemetID.csv")
    .toDF("provincia", "indicativo", "ubicacion")

In [ ]:
ids.show()
ids.printSchema()

In [ ]:
val joindata : DataFrame = data2021.join(ids, "indicativo")

In [ ]:
joindata.withColumn("ta_max", $"ta_max".substr(0,4).cast(IntegerType))
    .select($"fecha".substr(6,2) as "mes", $"fecha".substr(0,4) as "ao", $"ta_max" as "temperatura maxima", $"indicativo", $"provincia")
    .filter(!($"mes".equalTo("13")))
    .orderBy($"ta_max".desc)
    .show()

### Obtencion del mes, ao y provincia donde se encuntra la temperatura mas baja durante verano (junio, julio y agosto)

In [ ]:
joindata.withColumn("ta_min", $"ta_min".substr(0,4).cast(IntegerType))
    .withColumn("fecha", $"fecha".cast(DateType)).printSchema

Para quedarnos unicamente con la temperatura ya que este valor viene precedido del dia que ocurrio de la siguiente manera: temperatura(dia)

In [ ]:
import org.apache.spark.sql.functions.split

joindata.withColumn("ta_min", split($"ta_min", "\\("))
    .select($"ta_min"(0) as "val")
    .show()

In [ ]:
joindata.withColumn("ta_min", split($"ta_min", "\\("))
    .withColumn("ta_min", $"ta_min"(0).cast(IntegerType))
    .withColumn("fecha", $"fecha".cast(DateType))
    .select(func.month($"fecha") as "mes", func.year($"fecha") as "ao", $"ta_min" as "temperatura minima", $"provincia")  
    .filter($"mes" > 5 && $"mes" < 9)
    .orderBy($"temperatura minima".asc)
    .show()

### Numero de meses con temperaturas maximas >30 por provincia

In [ ]:
joindata
    .withColumn("ta_max", split($"ta_max", "\\("))
    .withColumn("ta_max", $"ta_max"(0).cast(IntegerType))
    .withColumn("fecha", $"fecha".cast(DateType))
    .filter($"ta_max" > 30 && !func.isnull($"fecha"))//> "0000-00-00")
    .groupBy("provincia")
    .count
    .show()

Relacion que tiene el calor con los meses de verano

In [ ]:
joindata
    .withColumn("ta_max", split($"ta_max", "\\("))
    .withColumn("ta_max", $"ta_max"(0).cast(IntegerType))
    .withColumn("fecha", $"fecha".cast(DateType))
    .filter($"ta_max" > 30 && !func.isnull($"fecha"))
    .withColumn("mes", func.month($"fecha"))
    .stat.corr("ta_max", "mes")

### Uso de graficos mostrando la precipitacion mensual por meses y aos en Vitigudino(Salamanca)

In [ ]:
val vitData : DataFrame = spark.read.option("multiline", "true").json("D:/TFGAlvaroSanchez/data2/2916A*.json")

Obtenemos los datos que queremos mostrar

In [ ]:
val vitDataRequired : DataFrame = vitData
    .withColumn("fecha", $"fecha".cast(DateType))
    .withColumn("p_mes", $"p_mes".cast(IntegerType))
    .filter(!func.isnull($"fecha") && $"p_mes" >= 0)
    .select($"fecha", $"p_mes")
    .orderBy($"fecha".asc)

In [ ]:
vitDataRequired.show()

In [ ]:
val vitDataRequired_f : Seq[String] = vitDataRequired.select($"fecha").as[String].collect.toSeq
val vitDataRequired_p : Seq[Int] = vitDataRequired.select($"p_mes").as[Int].collect.toSeq

Realizamos los imports necesarios para las graficas

In [ ]:
import $ivy.`org.plotly-scala::plotly-almond:0.7.0`
import plotly._, plotly.element._, plotly.layout._, plotly.Almond._

// restrict the output height to avoid scrolling in output cells
repl.pprinter() = repl.pprinter().copy(defaultHeight = 3)

In [ ]:
val trace = Seq(
    Scatter(
        vitDataRequired_f,
        vitDataRequired_p,
        fill = Fill.ToZeroY,
        marker = Marker(
            color = Color.RGBA(55, 128, 191, 0.6)
        )
    )
)


val layout = Layout(
    title = "Precipitacion mensual (mm)",
    paper_bgcolor =  Color.RGBA(245, 246, 249, 1),
    plot_bgcolor = Color.RGBA(245, 246, 249, 1),
)
plot(trace, layout)

### Leer los datos de manera casteada mediante un schema

In [ ]:
val schema = StructType(
                Array(
                    /*StructField("fecha", DateType, true),
                    StructField("indicativo", StringType, true),
                    StructField("p_max", StringType, true),*/
                    StructField("glo", IntegerType, true),
                    /*StructField("hr", IntegerType, true),
                    StructField("nw_55", IntegerType, true),
                    StructField("tm_min", DoubleType, true),
                    StructField("ta_max", StringType, true),
                    StructField("ts_min", DoubleType, true),
                    StructField("nt_30", IntegerType, true),
                    StructField("n_des", IntegerType, true),
                    StructField("w_racha", StringType, true),
                    StructField("np_100", IntegerType, true)*/
                )
            )

In [ ]:
val dt: DataFrame = spark.read.schema(schema)
    .option("multiline", "true")
    .option("dateFormat", "yyyy-MM")
    .json("D:/TFGAlvaroSanchez/data2/0201D(Barcelona)-2021.json")

In [ ]:
dt.show()

In [ ]:
val dt: DataFrame = spark.read
    .option("multiline", "true")
    .json("D:/TFGAlvaroSanchez/data2/0201D(Barcelona)-2021.json")
    .select(//$"fecha".cast(DateType), 
            func.to_date($"fecha").alias("fecha"),
            $"indicativo", 
            $"p_max",
            $"glo".cast(DoubleType), 
            $"hr".cast(DoubleType), 
            $"nw_55".cast(IntegerType), 
            $"tm_min".cast(DoubleType), 
            $"ta_max", 
            $"ts_min".cast(DoubleType), 
            $"nt_30".cast(IntegerType), 
            $"n_des".cast(IntegerType), 
            $"w_racha", 
            $"np_100".cast(IntegerType), 
            $"nw_91".cast(IntegerType), 
            $"np_001".cast(IntegerType), 
            $"ta_min", 
            $"w_rec".cast(IntegerType), 
            $"e".cast(DoubleType), 
            $"np_300".cast(IntegerType), 
            $"p_mes".cast(DoubleType), 
            $"w_med".cast(DoubleType), 
            $"nt_00".cast(IntegerType), 
            $"ti_max".cast(DoubleType), 
            $"tm_mes".cast(DoubleType), 
            $"tm_max".cast(DoubleType), 
            $"np_010".cast(IntegerType))

In [ ]:
dt.printSchema()

In [ ]:
dt.show()

### Temperatura media en espaa

In [ ]:
val data: DataFrame = spark.read
    .option("multiline", "true")
    .json("D:/TFGAlvaroSanchez/data2/*.json")
    .select($"fecha".cast(DateType), 
            $"indicativo", 
            $"p_max",
            $"glo".cast(DoubleType), 
            $"hr".cast(DoubleType), 
            $"nw_55".cast(IntegerType), 
            $"tm_min".cast(DoubleType), 
            $"ta_max", 
            $"ts_min".cast(DoubleType), 
            $"nt_30".cast(IntegerType), 
            $"n_des".cast(IntegerType), 
            $"w_racha", 
            $"np_100".cast(IntegerType), 
            $"nw_91".cast(IntegerType), 
            $"np_001".cast(IntegerType), 
            $"ta_min", 
            $"w_rec".cast(IntegerType), 
            $"e".cast(DoubleType), 
            $"np_300".cast(IntegerType), 
            $"p_mes".cast(DoubleType), 
            $"w_med".cast(DoubleType), 
            $"nt_00".cast(IntegerType), 
            $"ti_max".cast(DoubleType), 
            $"tm_mes".cast(DoubleType), 
            $"tm_max".cast(DoubleType), 
            $"np_010".cast(IntegerType))

In [ ]:
data.filter($"fecha".isNotNull)
    .select($"tm_mes".alias("temperatura media"))
    .describe()
    .show()

### Fecha y estaciones con temp >35 (Utilizando expr)

In [ ]:
val data: DataFrame = spark.read
    .option("multiline", "true")
    .json("D:/TFGAlvaroSanchez/data2/*.json")
    .select($"fecha".cast(DateType), 
            $"indicativo", 
            $"p_max",
            $"glo".cast(DoubleType), 
            $"hr".cast(DoubleType), 
            $"nw_55".cast(IntegerType), 
            $"tm_min".cast(DoubleType), 
            $"ta_max", 
            $"ts_min".cast(DoubleType), 
            $"nt_30".cast(IntegerType), 
            $"n_des".cast(IntegerType), 
            $"w_racha", 
            $"np_100".cast(IntegerType), 
            $"nw_91".cast(IntegerType), 
            $"np_001".cast(IntegerType), 
            $"ta_min", 
            $"w_rec".cast(IntegerType), 
            $"e".cast(DoubleType), 
            $"np_300".cast(IntegerType), 
            $"p_mes".cast(DoubleType), 
            $"w_med".cast(DoubleType), 
            $"nt_00".cast(IntegerType), 
            $"ti_max".cast(DoubleType), 
            $"tm_mes".cast(DoubleType), 
            $"tm_max".cast(DoubleType), 
            $"np_010".cast(IntegerType))
val dataWithNameStation = data.join(ids, "indicativo")

In [ ]:
dataWithNameStation.withColumn("ta_max", split($"ta_max", "\\("))
    .withColumn("t_max", $"ta_max"(0).cast(IntegerType))
    .withColumn("dia", func.substring($"ta_max"(1), 0, 2).cast(IntegerType))
    .withColumn("calor", func.expr("t_max > 35"))
    .filter($"calor" && $"fecha".isNotNull)
    .select($"ubicacion", func.year($"fecha").alias("ao"), func.month($"fecha").alias("mes"), $"dia")
    .show(false)

### Media de todos los datos, agrupados por fecha y por indicativo

In [ ]:
val data2021: DataFrame = spark.read
    .option("multiline", "true")
    .json("D:/TFGAlvaroSanchez/data2/*-2021.json")
    .select($"fecha".cast(DateType), 
            $"indicativo", 
            $"p_max",
            $"glo".cast(DoubleType), 
            $"hr".cast(DoubleType), 
            $"nw_55".cast(IntegerType), 
            $"tm_min".cast(DoubleType), 
            $"ta_max", 
            $"ts_min".cast(DoubleType), 
            $"nt_30".cast(IntegerType), 
            $"n_des".cast(IntegerType), 
            $"w_racha", 
            $"np_100".cast(IntegerType), 
            $"nw_91".cast(IntegerType), 
            $"np_001".cast(IntegerType), 
            $"ta_min", 
            $"w_rec".cast(IntegerType), 
            $"e".cast(DoubleType), 
            $"np_300".cast(IntegerType), 
            $"p_mes".cast(DoubleType), 
            $"w_med".cast(DoubleType), 
            $"nt_00".cast(IntegerType), 
            $"ti_max".cast(DoubleType), 
            $"tm_mes".cast(DoubleType), 
            $"tm_max".cast(DoubleType), 
            $"np_010".cast(IntegerType))

In [ ]:
val pivotedData2021 = data2021.groupBy(func.year($"fecha")).pivot("indicativo").avg()
pivotedData2021.select("year(fecha)", "0201D_avg(tm_mes)").show()

### Leer todos los datos y transformalos a formato Parquet

In [ ]:
val allData = spark.read.option("multiline", "true").json("D:/TFGAlvaroSanchez/data/month/*.json").select(
            $"fecha".cast(DateType), 
            $"indicativo", 
            $"p_max",
            $"glo".cast(DoubleType), 
            $"hr".cast(DoubleType), 
            $"nw_55".cast(IntegerType), 
            $"tm_min".cast(DoubleType), 
            $"ta_max", 
            $"ts_min".cast(DoubleType), 
            $"nt_30".cast(IntegerType), 
            $"n_des".cast(IntegerType), 
            $"w_racha", 
            $"np_100".cast(IntegerType), 
            $"nw_91".cast(IntegerType), 
            $"np_001".cast(IntegerType), 
            $"ta_min", 
            $"w_rec".cast(IntegerType), 
            $"e".cast(DoubleType), 
            $"np_300".cast(IntegerType), 
            $"p_mes".cast(DoubleType), 
            $"w_med".cast(DoubleType), 
            $"nt_00".cast(IntegerType), 
            $"ti_max".cast(DoubleType), 
            $"tm_mes".cast(DoubleType), 
            $"tm_max".cast(DoubleType), 
            $"np_010".cast(IntegerType))

In [ ]:
allData.write.format("parquet").partitionBy("indicativo").mode("overwrite").save("D:/TFGAlvaroSanchez/data/monthParquet/")

### Otra manera de leer los datos y pasarlos a Parquet (ms optima)

#### Pasar los ficheros JSON multiline a JSON line

Para esto lo que he hecho ha sido ejecutar en el CMD el siguiente comando `FOR %a IN (../data/*.json) DO jq . -c "%a" > "../JSONLine/%a"` con el que vamos recorriendo la carpeta donde se encuentran los ficheros JSON multiline y los vamos guardando con la transformacion en la carpeta JSONLine

In [2]:
val schema = StructType(
    Array(
        StructField("fecha", StringType, true), 
        StructField("indicativo", StringType, true),
        StructField("nombre", StringType, true),
        StructField("provincia", StringType, true),
        StructField("altitud", StringType, true),
        StructField("tm_mes", StringType, true),
        StructField("tm_max", StringType, true),
        StructField("tm_min", StringType, true), 
        StructField("ta_max", StringType, true),
        StructField("ta_min", StringType, true),
        StructField("ts_min", StringType, true),
        StructField("ti_max", StringType, true),
        StructField("nt_30", StringType, true),
        StructField("nt_00", StringType, true),
        StructField("p_mes", StringType, true),
        StructField("p_max", StringType, true),
        StructField("np_001", StringType, true),
        StructField("np_010", StringType, true),
        StructField("np_100", StringType, true),
        StructField("np_300", StringType, true),
        StructField("hr", StringType, true), 
        StructField("e", StringType, true),
        StructField("n_llu", StringType, true),
        StructField("n_nie", StringType, true),
        StructField("n_gra", StringType, true),
        StructField("n_tor", StringType, true),
        StructField("n_fog", StringType, true),
        StructField("n_des", StringType, true),
        StructField("n_nub", StringType, true),
        StructField("n_cub", StringType, true),
        StructField("inso", StringType, true),
        StructField("p_sol", StringType, true),
        StructField("glo", StringType, true),
        StructField("evap", StringType, true),
        StructField("w_rec", StringType, true),
        StructField("w_racha", StringType, true),
        StructField("nw_55", StringType, true),
        StructField("nw_91", StringType, true),
        StructField("w_med", StringType, true),
        StructField("q_med", StringType, true),
        StructField("q_max", StringType, true),
        StructField("q_min", StringType, true),
        StructField("q_mar", StringType, true),
        StructField("ts_10", StringType, true),
        StructField("ts_20", StringType, true),
        StructField("ts_50", StringType, true),
        StructField("nv_0050", StringType, true),
        StructField("nv_0100", StringType, true),
        StructField("nv_1000", StringType, true)       
    )
)

schema: StructType = StructType(
  StructField("fecha", StringType, true, {}),
  StructField("indicativo", StringType, true, {}),
  StructField("nombre", StringType, true, {}),
  StructField("provincia", StringType, true, {}),
  StructField("altitud", StringType, true, {}),
  StructField("tm_mes", StringType, true, {}),
  StructField("tm_max", StringType, true, {}),
  StructField("tm_min", StringType, true, {}),
  StructField("ta_max", StringType, true, {}),
  StructField("ta_min", StringType, true, {}),
  StructField("ts_min", StringType, true, {}),
  StructField("ti_max", StringType, true, {}),
  StructField("nt_30", StringType, true, {}),
  StructField("nt_00", StringType, true, {}),
  StructField("p_mes", StringType, true, {}),
  StructField("p_max", StringType, true, {}),
  StructField("np_001", StringType, true, {}),
  StructField("np_010", StringType, true, {}),
  StructField("np_100", StringType, true, {}),
  StructField("np_300", StringType, true, {}),
  StructField("hr", StringType, true, {}),
  StructField("e", StringType, true, {}),
  StructField("n_llu", StringType, true, {}),
  StructField("n_nie", StringType, true, {}),
  StructField("n_gra", StringType, true, {}),
  StructField("n_tor", StringType, true, {}),
  StructField("n_fog", StringType, true, {}),
  StructField("n_des", StringType, true, {}),
  StructField("n_nub", StringType, true, {}),
  StructField("n_cub", StringType, true, {}),
  StructField("inso", StringType, true, {}),
  StructField("p_sol", StringType, true, {}),
  StructField("glo", StringType, true, {}),
  StructField("evap", StringType, true, {}),
  StructField("w_rec", StringType, true, {}),
  StructField("w_racha", StringType, true, {}),
  StructField("nw_55", StringType, true, {}),
  StructField("nw_91", StringType, true, {}),
...

In [3]:
val allData = spark.read.schema(schema).json("D:/TFGAlvaroSanchez/data/monthJSONLine/*.json")
    .select(
            $"fecha".cast(DateType), 
            $"indicativo", 
            $"p_max",
            $"glo".cast(DoubleType), 
            $"hr".cast(DoubleType), 
            $"nw_55".cast(IntegerType), 
            $"tm_min".cast(DoubleType), 
            $"ta_max", 
            $"ts_min".cast(DoubleType), 
            $"nt_30".cast(IntegerType), 
            $"n_des".cast(IntegerType), 
            $"w_racha", 
            $"np_100".cast(IntegerType), 
            $"nw_91".cast(IntegerType), 
            $"np_001".cast(IntegerType), 
            $"ta_min", 
            $"w_rec".cast(IntegerType), 
            $"e".cast(DoubleType), 
            $"np_300".cast(IntegerType), 
            $"p_mes".cast(DoubleType), 
            $"w_med".cast(DoubleType), 
            $"nt_00".cast(IntegerType), 
            $"ti_max".cast(DoubleType), 
            $"tm_mes".cast(DoubleType), 
            $"tm_max".cast(DoubleType), 
            $"np_010".cast(IntegerType)
    )

allData: DataFrame = [fecha: date, indicativo: string ... 24 more fields]

In [4]:
allData.write.format("parquet").partitionBy("indicativo").mode("overwrite").save("D:/TFGAlvaroSanchez/data/monthParquet/")

### Representacion de las temperaturas mximas en diferentes meses por aos (Parquet sin particion)

In [ ]:
import $ivy.`org.plotly-scala::plotly-almond:0.7.0`
import plotly._, plotly.element._, plotly.layout._, plotly.Almond._

// restrict the output height to avoid scrolling in output cells
repl.pprinter() = repl.pprinter().copy(defaultHeight = 3)

In [ ]:
val dataRead = spark.read.parquet("D:/TFGAlvaroSanchez/data/monthParquet/*").na.drop()

val data = dataRead
    .withColumn("ta_max", func.split($"ta_max", "\\(")(0).cast(IntegerType))
    .groupBy($"fecha")
    .agg(func.avg($"ta_max").alias("ta_max"))
    .withColumn("ao", func.year($"fecha"))
    .withColumn("mes", func.month($"fecha"))
    .orderBy("ao", "mes")
    .repartition(8)

In [ ]:
def seqYear(year : Int): Seq[Double] = {
    data.filter($"ao" === year).map(row => row.getDouble(1)).collect().toSeq
}

In [ ]:
val SeqMonths = data.filter($"ao" === 2010).map(row => row.getInt(3)).collect().toSeq
val Seq2010 = seqYear(2010)
val Seq2011 = seqYear(2011)
val Seq2012 = seqYear(2012)
val Seq2013 = seqYear(2013)
val Seq2014 = seqYear(2014)
val Seq2015 = seqYear(2015)
val Seq2016 = seqYear(2016)
val Seq2017 = seqYear(2017)
val Seq2018 = seqYear(2018)
val Seq2019 = seqYear(2019)
val Seq2020 = seqYear(2020)
val Seq2021 = seqYear(2021)
val Seq2022 = seqYear(2022)

In [ ]:
val year2010= Scatter(
  SeqMonths,
  Seq2010,
  name = "ao 2010"
)

val year2011 = Scatter(
  SeqMonths,
  Seq2011,
  name = "ao 2011"
)

val year2012 = Scatter(
  SeqMonths,
  Seq2012,
  name = "ao 2012"
)

val year2013 = Scatter(
  SeqMonths,
  Seq2013,
  name = "ao 2013"
)

val year2014 = Scatter(
  SeqMonths,
  Seq2014,
  name = "ao 2014"
)

val year2015 = Scatter(
  SeqMonths,
  Seq2015,
  name = "ao 2015"
)

val year2016 = Scatter(
  SeqMonths,
  Seq2016,
  name = "ao 2016"
)

val year2017 = Scatter(
  SeqMonths,
  Seq2017,
  name = "ao 2017"
)

val year2018 = Scatter(
  SeqMonths,
  Seq2018,
  name = "ao 2018"
)

val year2019 = Scatter(
  SeqMonths,
  Seq2019,
  name = "ao 2019"
)

val year2020 = Scatter(
  SeqMonths,
  Seq2020,
  name = "ao 2020"
)

val year2021 = Scatter(
  SeqMonths,
  Seq2021,
  name = "ao 2021"
)

val year2022 = Scatter(
  SeqMonths,
  Seq2022,
  name = "ao 2022"
)



val dataToPlot = Seq(year2010, year2011, year2012, year2013, year2014, year2015, year2016, 
                     year2017, year2018, year2019, year2020, year2021, year2022)

plot(dataToPlot)

### Representacion de las temperaturas mximas en diferentes meses por aos (Parquet con particion)

In [ ]:
import $ivy.`org.plotly-scala::plotly-almond:0.7.0`
import plotly._, plotly.element._, plotly.layout._, plotly.Almond._

// restrict the output height to avoid scrolling in output cells
repl.pprinter() = repl.pprinter().copy(defaultHeight = 3)

In [ ]:
val dataRead = spark.read.parquet("D:/TFGAlvaroSanchez/data/monthParquet/*")

dataRead
    .withColumn("ao", func.year($"fecha"))
    .repartition($"ao").write.mode("overwrite").partitionBy("ao").parquet("D:/TFGAlvaroSanchez/data/monthParquetPartition/")

In [ ]:
val data = spark.read.parquet("D:/TFGAlvaroSanchez/data/monthParquetPartition/").na.drop()

In [ ]:
def obtainData(year : Int) : Seq[Double] = {
    data
        .filter($"ao" === year)
        .withColumn("ta_max", func.split($"ta_max", "\\(")(0).cast(IntegerType))
        .groupBy($"fecha")
        .agg(func.avg($"ta_max").alias("ta_max"))
        .withColumn("mes", func.month($"fecha"))
        .orderBy("mes")
        .map(row => row.getDouble(1)).collect().toSeq
}

In [ ]:
val seqMonths = data
    .filter($"ao" === 2010)
    .groupBy($"fecha")
    .agg(func.avg($"ta_max").alias("ta_max"))
    .select(func.month($"fecha").alias("mes"))
    .orderBy($"mes")
    .map(row => row.getInt(0)).collect().toSeq
val seq2010 = obtainData(2010)
val seq2011 = obtainData(2011)
val seq2012 = obtainData(2012)
val seq2013 = obtainData(2013)
val seq2014 = obtainData(2014)
val seq2015 = obtainData(2015)
val seq2016 = obtainData(2016)
val seq2017 = obtainData(2017)
val seq2018 = obtainData(2018)
val seq2019 = obtainData(2019)
val seq2020 = obtainData(2020)
val seq2021 = obtainData(2021)
val seq2022 = obtainData(2022)

In [ ]:
val year2010= Scatter(
  seqMonths,
  seq2010,
  name = "ao 2010"
)

val year2011 = Scatter(
  seqMonths,
  seq2011,
  name = "ao 2011"
)

val year2012 = Scatter(
  seqMonths,
  seq2012,
  name = "ao 2012"
)

val year2013 = Scatter(
  seqMonths,
  seq2013,
  name = "ao 2013"
)

val year2014 = Scatter(
  seqMonths,
  seq2014,
  name = "ao 2014"
)

val year2015 = Scatter(
  seqMonths,
  seq2015,
  name = "ao 2015"
)

val year2016 = Scatter(
  seqMonths,
  seq2016,
  name = "ao 2016"
)

val year2017 = Scatter(
  seqMonths,
  seq2017,
  name = "ao 2017"
)

val year2018 = Scatter(
  seqMonths,
  seq2018,
  name = "ao 2018"
)

val year2019 = Scatter(
  seqMonths,
  seq2019,
  name = "ao 2019"
)

val year2020 = Scatter(
  seqMonths,
  seq2020,
  name = "ao 2020"
)

val year2021 = Scatter(
  seqMonths,
  seq2021,
  name = "ao 2021"
)

val year2022 = Scatter(
  seqMonths,
  seq2022,
  name = "ao 2022"
)



val dataToPlot = Seq(year2010, year2011, year2012, year2013, year2014, year2015, year2016, 
                     year2017, year2018, year2019, year2020, year2021, year2022)

plot(dataToPlot)

### Numero de meses mas calurosos agrupados por aos (Se compara mes a mes las temperaturas max)

In [ ]:
import $ivy.`org.plotly-scala::plotly-almond:0.7.0`
import plotly._, plotly.element._, plotly.layout._, plotly.Almond._

// restrict the output height to avoid scrolling in output cells

repl.pprinter() = repl.pprinter().copy(defaultHeight = 3)

In [ ]:
import org.apache.spark.sql.expressions.Window

val data = spark.read.parquet("D:/TFGAlvaroSanchez/data/monthParquet/*").na.drop()

val window = Window.partitionBy("mes").orderBy($"ta_max".desc)

val dataWindow = data
    .withColumn("ta_max", func.split($"ta_max", "\\(")(0).cast(DoubleType))
    .groupBy($"fecha")
    .agg(func.avg($"ta_max").alias("ta_max"))
    .select(func.month($"fecha").alias("mes"), func.year($"fecha").alias("ao"), $"ta_max")
    .withColumn("dense_rank", func.dense_rank().over(window))
    .filter($"dense_rank" === 1)

In [ ]:
dataWindow.show()

In [ ]:
def countByYear(year : Int) : Long = {
    dataWindow
        .filter($"ao" === year)
        .count()
}
 
val year2010 = countByYear(2010)
val year2011 = countByYear(2011)
val year2012 = countByYear(2012)
val year2013 = countByYear(2013)
val year2014 = countByYear(2014)
val year2015 = countByYear(2015)
val year2016 = countByYear(2016)
val year2017 = countByYear(2017)
val year2018 = countByYear(2018)
val year2019 = countByYear(2019)
val year2020 = countByYear(2020)
val year2021 = countByYear(2021)
val year2022 = countByYear(2022)

In [ ]:
dataWindow
    .withColumn("temperatura maxima", func.round($"ta_max", 2))
    .orderBy($"mes".asc)
    .select($"mes", $"ao", $"temperatura maxima")
    .show()

val dataToPlot = Seq(
  Bar(
    Seq(2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022),
    Seq(year2010, year2011, year2012, year2013, year2014, year2015, year2016, 
        year2017, year2018, year2019, year2020, year2021, year2022),
    marker = Marker(
        color = Color.RGB(255, 174, 0),
        opacity = 0.6,
        line = Line(
            color = Color.RGB(189, 129, 0),
              width = 1.5
        )
    )
  )
)

plot(dataToPlot)

### Aos/meses con olas de calor (30 durante >= 3 dias) Utilizando datos mensuales

In [ ]:
import $ivy.`org.plotly-scala::plotly-almond:0.7.0`
import plotly._, plotly.element._, plotly.layout._, plotly.Almond._

// restrict the output height to avoid scrolling in output cells
repl.pprinter() = repl.pprinter().copy(defaultHeight = 3)

In [ ]:
val data = spark.read.parquet("D:/TFGAlvaroSanchez/data/monthParquet/*").na.drop()

In [ ]:
val groupData = data
    .filter($"nt_30" >= 3)
    .withColumn("ao", func.year($"fecha"))
    .withColumn("ta_max", func.split($"ta_max", "\\(")(0).cast(IntegerType))
    .groupBy($"ao")
    .agg(func.avg($"nt_30").alias("nt_30"), func.avg($"ta_max").alias("ta_max"))
    .select($"ao", func.round($"nt_30", 2) as "dias al mes con >=30", func.round($"ta_max", 2) as "temperatura media max")
    .orderBy($"ao")

groupData.show()

In [ ]:
val SeqYears = groupData.map(row => row.getInt(0)).collect().toSeq
val SeqDays = groupData.map(row => row.getDouble(1)).collect().toSeq
val SeqTemperature = groupData.map(row => row.getDouble(2).toInt).collect().toSeq

In [ ]:
val dataToPlot = Scatter(
    SeqYears,
    SeqDays,
    mode = ScatterMode(ScatterMode.Markers),
    marker = Marker(
        color = Seq(Color.RGB(251, 212, 68), Color.RGB(255, 223, 106), Color.RGB(251, 212, 68), Color.RGB(255, 223, 106),
                    Color.RGB(251, 212, 68), Color.RGB(251, 212, 68), Color.RGB(220, 170, 1), Color.RGB(251, 212, 68), 
                    Color.RGB(251, 212, 68), Color.RGB(220, 170, 1), Color.RGB(251, 212, 68), Color.RGB(220, 170, 1),
                    Color.RGB(220, 143, 1)),
        size = SeqTemperature
    )
)

val aux = Seq(dataToPlot)
plot(aux)

### Temperatura media por ao y su relacion con las lluvias por ao

In [ ]:
import $ivy.`org.plotly-scala::plotly-almond:0.7.0`
import plotly._, plotly.element._, plotly.layout._, plotly.Almond._

// restrict the output height to avoid scrolling in output cells
repl.pprinter() = repl.pprinter().copy(defaultHeight = 3)

In [ ]:
val data = spark.read.parquet("D:/TFGAlvaroSanchez/data/monthParquet/*").na.drop()

In [ ]:
val groupData = data
    .withColumn("ao", func.year($"fecha"))
    .groupBy($"ao")
    .agg(func.avg($"tm_mes").alias("tm_mes"), func.avg($"p_mes").alias("p_mes"))
    .orderBy($"ao")

In [ ]:
groupData.first().fieldIndex("ao")
groupData.first().fieldIndex("tm_mes")
groupData.first().fieldIndex("p_mes")

In [ ]:
val SeqYears = groupData.map(row => row.getInt(0)).collect().toSeq
val SeqTemperature = groupData.map(row => row.getDouble(1)).collect().toSeq
val SeqPrecipitation = groupData.map(row => row.getDouble(2)).collect().toSeq

In [ ]:
val dataTemperature = Scatter(
    SeqYears,
    SeqTemperature,
    name = "Temperatura media (C)",
    marker = Marker(
        color = Color.RGB(247, 112, 0)
    )
)

val dataPrecipitation = Scatter(
    SeqYears,
    SeqPrecipitation,
    name = "Precipitacion media (mm)",
    marker = Marker(
        color = Color.RGB(0, 187, 247)
    )
)

val layout1 = Layout(
    title = "Precipitacion y temperatura media anual"
)

val layout2 = Layout(
    title = "Temperatura media anual"
)

val dataToPlot = Seq(dataTemperature, dataPrecipitation)
plot(dataToPlot, layout1)

plot(Seq(dataTemperature), layout2)

### Lectura de datos por dias y transformacion a Parquet

In [ ]:
val schema = StructType(
    Array(
        StructField("fecha", StringType, true), 
        StructField("indicativo", StringType, true),
        StructField("nombre", StringType, true),
        StructField("provincia", StringType, true),
        StructField("altitud", StringType, true),
        StructField("tmed", StringType, true),
        StructField("prec", StringType, true),
        StructField("tmin", StringType, true),
        StructField("horatmin", StringType, true),
        StructField("tmax", StringType, true),
        StructField("horatmax", StringType, true),
        StructField("dir", StringType, true),
        StructField("velmedia", StringType, true),
        StructField("racha", StringType, true),
        StructField("horaracha", StringType, true),
        StructField("sol", StringType, true),
        StructField("presMax", StringType, true),
        StructField("horaPresMax", StringType, true),
        StructField("presMin", StringType, true),
        StructField("horaPresMin", StringType, true)
    )
)

In [ ]:
val allData = spark.read.schema(schema).json("D:/TFGAlvaroSanchez/data/dayJSONLine/*.json")
    .withColumn("fecha", $"fecha".cast(DateType))
    .withColumn("altitud", $"altitud".cast(IntegerType))
    .withColumn("tmed", func.regexp_replace($"tmed", ",", ".").cast(DoubleType))
    .withColumn("prec", func.regexp_replace($"prec", ",", ".").cast(DoubleType))
    .withColumn("tmin", func.regexp_replace($"tmin", ",", ".").cast(DoubleType))
    .withColumn("tmax", func.regexp_replace($"tmax", ",", ".").cast(DoubleType))
    .withColumn("dir", $"dir".cast(IntegerType))
    .withColumn("velmedia", func.regexp_replace($"velmedia", ",", ".").cast(DoubleType))
    .withColumn("racha", func.regexp_replace($"racha", ",", ".").cast(DoubleType))
    .withColumn("sol", func.regexp_replace($"sol", ",", ".").cast(DoubleType))
    .withColumn("presMax", func.regexp_replace($"presMax", ",", ".").cast(DoubleType))
    .withColumn("horaPresMax", $"horaPresMax".cast(IntegerType))
    .withColumn("presMin", func.regexp_replace($"presMin", ",", ".").cast(DoubleType))
    .withColumn("horaPresMin", $"horaPresmin".cast(IntegerType))

In [ ]:
allData.write.format("parquet").partitionBy("indicativo").mode("overwrite").save("D:/TFGAlvaroSanchez/data/dayParquet/")

### Aos con olas de calor Utilizando datos diarios

In [ ]:
val data = spark.read.parquet("D:/TFGAlvaroSanchez/data/dayParquet/")
val stations = spark.read.option("delimiter", ";").csv("D:/TFGAlvaroSanchez/data/aemetID.csv")
    .toDF("provincia", "indicativo", "ubicacion")

In [ ]:
import org.apache.spark.sql.expressions.Window

val window = Window.partitionBy($"indicativo", $"ao").orderBy($"fecha")

In [ ]:
val auxData = data
    .filter(!func.isnull($"tmax"))
    .withColumn("ao", func.year($"fecha"))
    .withColumn("lag", func.lag($"tmax", 1).over(window))
    .withColumn("start", $"tmax" >= 40 && $"lag" < 40)
    .select($"indicativo", $"fecha", $"ao", $"tmax", $"start")

In [ ]:
val secuenceData = auxData
    .withColumn("id", func.sum(func.when($"start", 1).otherwise(null)).over(window))
    .withColumn("id", func.when($"tmax" < 40, null).otherwise($"id"))
    .filter(!func.isnull($"id"))
    .select($"indicativo", $"fecha", $"ao", $"tmax", $"id")

secuenceData.show()

In [ ]:
val results = secuenceData
    .groupBy($"indicativo", $"ao", $"id")
    .agg(func.count($"id").alias("dias"), func.avg($"tmax"), func.max($"tmax"), func.min($"tmax"))
    .filter($"dias" > 3)
    .join(stations, "indicativo")
    .select($"ubicacion", $"provincia", $"ao", $"dias", func.round($"avg(tmax)", 2).alias("avg(tmax)"), 
            $"max(tmax)", $"min(tmax)")

In [ ]:
results
    .orderBy($"ubicacion", $"ao")
    .show()

In [ ]:
results
    .groupBy($"provincia", $"ao")
    .agg(func.count($"provincia"), func.avg($"dias"), func.avg($"avg(tmax)"), func.max($"max(tmax)"), func.min($"min(tmax)"))
    .select($"provincia", $"ao", $"count(provincia)".alias("n de olas de calor"), 
            $"avg(dias)".alias("duracion media"), $"avg(avg(tmax))".alias("avg(tmax)"), 
            $"max(max(tmax))".alias("max(tmax)"), $"min(min(tmax))".alias("min(tmax)"))
    .orderBy($"provincia", $"ao".asc)
    .show()

In [ ]:
results
    .groupBy($"ao")
    .agg(func.count($"ao"))
    .orderBy($"ao")
    .show()

In [ ]:
val auxResults = results
    .groupBy($"provincia")
    .agg(func.count($"provincia").alias("n olas de calor"))

val totalOlas = auxResults
    .agg(func.sum($"n olas de calor"))
    .first().getLong(0)


auxResults
    .withColumn("% olas de calor", func.round($"n olas de calor" / totalOlas * 100, 2))
    .orderBy($"provincia")
    .show()

### Aos con olas de calor Utilizando datos diarios (haciendo uso de row number)

In [ ]:
val data = spark.read.parquet("D:/TFGAlvaroSanchez/data/dayParquet/")
val stations = spark.read.option("delimiter", ";").csv("D:/TFGAlvaroSanchez/data/aemetID.csv")
    .toDF("provincia", "indicativo", "ubicacion")

In [ ]:
import org.apache.spark.sql.expressions.Window

val window = Window.partitionBy($"indicativo", $"ao").orderBy($"fecha")

In [ ]:
val secuenceData = data
    .filter(!func.isnull($"tmax") && $"tmax" >= 40)
    .withColumn("ao", func.year($"fecha"))
    .withColumn("row_number", func.row_number().over(window))
    .withColumn("id", func.expr("date_sub(fecha, row_number)"))
    .select($"indicativo", $"fecha", $"ao", $"tmax", $"id")

In [ ]:
/*val secuenceData = data
    .filter(!func.isnull($"tmax"))
    .withColumn("ao", func.year($"fecha"))
    .withColumn("rowNumber1", func.row_number.over(window))
    .filter($"tmax" >= 40)
    .withColumn("rowNumber2", func.row_number.over(window))
    .withColumn("id", $"rowNumber1" - $"rowNumber2")
    .select($"indicativo", $"fecha", $"ao", $"tmax", $"id")*/

In [ ]:
val results2 = secuenceData
    .groupBy($"indicativo", $"ao", $"id")
    .agg(func.count($"id").alias("dias"), func.avg($"tmax"), func.max($"tmax"), func.min($"tmax"))
    .filter($"dias" > 3)
    .join(stations, "indicativo")
    .select($"ubicacion", $"provincia", $"ao", $"dias", func.round($"avg(tmax)", 2).alias("avg(tmax)"), 
            $"max(tmax)", $"min(tmax)")

In [ ]:
results
    .orderBy($"ubicacion", $"ao")
    .show()

In [ ]:
results
    .groupBy($"provincia", $"ao")
    .agg(func.count($"provincia"), func.avg($"dias"), func.avg($"avg(tmax)"), func.max($"max(tmax)"), func.min($"min(tmax)"))
    .select($"provincia", $"ao", $"count(provincia)".alias("n de olas de calor"), 
            $"avg(dias)".alias("duracion media"), $"avg(avg(tmax))".alias("avg(tmax)"), 
            $"max(max(tmax))".alias("max(tmax)"), $"min(min(tmax))".alias("min(tmax)"))
    .orderBy($"provincia", $"ao".asc)
    .show()

In [ ]:
results
    .groupBy($"ao")
    .agg(func.count($"ao"))
    .orderBy($"ao")
    .show()

In [ ]:
spark.range(1).select(func.date_add(func.to_date(func.lit("2022-01-31")),1)).show

In [ ]:
results2.except(results).show()

In [ ]:
results.except(results2).show()

In [ ]:
secuenceData.filter($"indicativo" === 5402 && $"ao" === 2017 && func.month($"fecha") === 8).show(50)

In [ ]:
data
    .filter($"tmax" >= 40 || "")
    .withColumn("ao", func.year($"fecha"))
    .filter($"indicativo" === 5402 && $"ao" === 2017 && func.month($"fecha") === 8)
    .select($"indicativo", $"fecha", $"ao", $"tmax")
    .show(50)

### Imprimir mapa

In [ ]:
import $ivy.`org.plotly-scala::plotly-almond:0.7.0`
import plotly._, plotly.element._, plotly.layout._, plotly.Almond._

// restrict the output height to avoid scrolling in output cells
repl.pprinter() = repl.pprinter().copy(defaultHeight = 3)

In [ ]:
val countries = spark.read.json("D:/TFGAlvaroSanchez/prueba/georef-spain-municipio.geojson*")

//val fig = choropleth_mapbox(geojson=countries)//, locations='fips', color='unemp')
                           /*color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           mapbox_style="carto-positron",
                           zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                           opacity=0.5,
                           labels={'unemp':'unemployment rate'}
                          )

fig.show()*/